<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Debug" value="Serilog.Sinks.Debug" />
    <add key="serilog:write-to:Debug.restrictedToMinimumLevel" value="Verbose"/>
    <add key="serilog:write-to:MockLogSink.restrictedToMinimumLevel" value="Information" />
  </appSettings>
  <connectionStrings>
    <add name="LocalEF6" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\mssqllocaldb;Database=EF6;Trusted_Connection=True"/>
  </connectionStrings>
</configuration>
