<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="WebsiteUrl" value="http://localhost:62592/" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Debug" value="Serilog.Sinks.Debug" />
    <add key="serilog:write-to:Debug.restrictedToMinimumLevel" value="Verbose"/>
    <add key="serilog:write-to:MockLogSink.restrictedToMinimumLevel" value="Information" />
  </appSettings>
  <connectionStrings>
    <add name="LocalEF6" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\mssqllocaldb;Database=EF6;Trusted_Connection=True"/>
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>